<section class="wrapper">
    <header class="header">
        <h3>Comments</h1>
        <button class="add-comment">Add Comment</button>
        <div class="new-comment">
            <p>name</p>
            <input type="text" class="name">
            <p>email</p>
            <input type="text" class="email">
            <p>comment</p>
            <textarea class="comment"></textarea>
            <button class="submit-comment">Submit</button>
        </div>
    </header>
    <section class="main">
        <ul class="comments"></ul>
    </section>
</section>
