<section>
    <header class="header">
        <h3>Comments</h1>
        <button class="add-comment">Add Comment</button>
    </header>
    <section class="main">
        <ul class="comments"></ul>
    </section>
</section>
